doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Details
    body 
    h2 Name : duke lester 
    h3 age : 24
    h4 location : Juja 
    h5 email :dukelester4@gmail.com
    h3 occupation: Sofware Engineer

    h3 skills: Sofware Engineer